openapi: 3.1.0
info:
  title: QuantumCart API - Complete
  version: 2.0.0
  description: Complete Backend API for QuantumCart e-commerce with all basic + advanced features (excluding accessibility).

servers:
  - url: https://api.quantumcart.com
    description: Production server
  - url: http://localhost:8080
    description: Local development server

tags:
  - name: Auth
  - name: Products
  - name: Orders
  - name: User Profile
  - name: Stores
  - name: Reviews

paths:
  # ========================================
  # AUTHENTICATION
  # ========================================

  /auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User successfully registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUser'
        '409':
          description: Email already exists

  /auth/login:
    post:
      tags: [Auth]
      summary: Login and receive an access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials

  /auth/me:
    get:
      tags: [Auth]
      summary: Get currently authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUser'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logged out successfully

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: Password reset email sent
        '404':
          description: Email not found

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password with token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token: { type: string }
                newPassword: { type: string, minLength: 6 }
      responses:
        '200':
          description: Password reset successful
        '400':
          description: Invalid or expired token

  /auth/user:
    put:
      tags: [User Profile]
      summary: Update user profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUser'

    delete:
      tags: [User Profile]
      summary: Delete user account
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Account deleted

  # ========================================
  # PRODUCTS
  # ========================================

  /products:
    get:
      tags: [Products]
      summary: Get paginated products list
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: pageSize
          schema: { type: integer, default: 12 }
        - in: query
          name: category
          schema: { type: string }
          description: Filter by category
        - in: query
          name: minPrice
          schema: { type: number }
        - in: query
          name: maxPrice
          schema: { type: number }
        - in: query
          name: availability
          schema:
            type: string
            enum: [in_stock, low_stock, out_of_stock]
      responses:
        '200':
          description: Paginated product list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProducts'

  /products/{id}:
    get:
      tags: [Products]
      summary: Get product by ID
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Product detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Not found

  # ========================================
  # PRODUCT REVIEWS
  # ========================================

  /products/{id}/reviews:
    get:
      tags: [Reviews]
      summary: Get reviews for a product
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: List of reviews
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductReview'

    post:
      tags: [Reviews]
      summary: Add review for a product
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '201':
          description: Review created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductReview'

  # ========================================
  # ORDERS
  # ========================================

  /orders:
    get:
      tags: [Orders]
      summary: Get all orders for logged-in user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'

    post:
      tags: [Orders]
      summary: Create order (auth optional for guest checkout)
      security:
        - bearerAuth: []
        - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  # ========================================
  # STORES/BRANCHES
  # ========================================

  /stores:
    get:
      tags: [Stores]
      summary: Get list of all stores
      responses:
        '200':
          description: List of stores
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Store'

  /stores/{id}:
    get:
      tags: [Stores]
      summary: Get store details
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Store details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'

# ========================================
# COMPONENTS
# ========================================

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ========================================
    # AUTH SCHEMAS
    # ========================================

    RegisterRequest:
      type: object
      required: [name, email, password]
      properties:
        name: { type: string }
        email: { type: string, format: email }
        password: { type: string, minLength: 6 }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    AuthUser:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string }
        phone: { type: string, nullable: true }
        deliveryAddress:
          type: object
          nullable: true
          properties:
            street: { type: string }
            city: { type: string }
            postalCode: { type: string }
            country: { type: string }
        createdAt: { type: string, format: date-time }

    UpdateProfileRequest:
      type: object
      properties:
        name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        deliveryAddress:
          type: object
          properties:
            street: { type: string }
            city: { type: string }
            postalCode: { type: string }
            country: { type: string }

    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/AuthUser'
        token: { type: string }

    # ========================================
    # PRODUCT SCHEMAS
    # ========================================

    Product:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        category: { type: string }
        categoryDe: { type: string }
        price: { type: number }
        oldPrice: { type: number, nullable: true }
        rating: { type: number }
        description: { type: string }
        descriptionDe: { type: string }
        technicalDetails: { type: string, nullable: true }
        technicalDetailsDe: { type: string, nullable: true }
        warranty: { type: string, nullable: true }
        warrantyDe: { type: string, nullable: true }
        officialWebsite: { type: string, nullable: true }
        imageUrl: { type: string }
        availability:
          type: string
          enum: [in_stock, low_stock, out_of_stock]
        availabilityDe:
          type: string
          enum: [auf_lager, niedriger_lagerbestand, ausverkauft]

    PaginatedProducts:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        total: { type: integer }
        page: { type: integer }
        pageSize: { type: integer }

    # ========================================
    # REVIEW SCHEMAS
    # ========================================

    ProductReview:
      type: object
      properties:
        id: { type: integer }
        productId: { type: integer }
        userId: { type: integer }
        userName: { type: string }
        rating: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string }
        createdAt: { type: string, format: date-time }

    CreateReviewRequest:
      type: object
      required: [rating, comment]
      properties:
        rating: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string, maxLength: 500 }

    # ========================================
    # ORDER SCHEMAS
    # ========================================

    CreateOrderRequest:
      type: object
      required: [paymentMethod, deliveryMethod, shippingAddress, items]
      properties:
        paymentMethod:
          type: string
          enum: [credit, paypal, crypto]
        deliveryMethod:
          type: string
          enum: [standard, express]
        items:
          type: array
          items:
            type: object
            required: [productId, name, price, quantity, imageUrl]
            properties:
              productId: { type: integer }
              name: { type: string }
              price: { type: number }
              quantity: { type: integer }
              imageUrl: { type: string }
        shippingAddress:
          type: object
          required: [name, street, city, postalCode, country]
          properties:
            name: { type: string }
            street: { type: string }
            city: { type: string }
            postalCode: { type: string }
            country: { type: string }
        guestEmail: { type: string, format: email, nullable: true }

    OrderItem:
      type: object
      properties:
        productId: { type: integer }
        name: { type: string }
        price: { type: number }
        quantity: { type: integer }
        imageUrl: { type: string }

    Order:
      type: object
      properties:
        id: { type: integer }
        subtotal: { type: number }
        tax: { type: number }
        deliveryCost: { type: number }
        total: { type: number }
        createdAt: { type: string, format: date-time }
        paymentMethod: { type: string }
        deliveryMethod: { type: string }
        status:
          type: string
          enum: [Processing, Shipped, Delivered]
        statusDe:
          type: string
          enum: [In Bearbeitung, Versandt, Zugestellt]
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        shippingAddress:
          type: object
          properties:
            name: { type: string }
            street: { type: string }
            city: { type: string }
            postalCode: { type: string }
            country: { type: string }
        guestEmail: { type: string, format: email, nullable: true }

    # ========================================
    # STORE SCHEMAS
    # ========================================

    Store:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        address:
          type: object
          properties:
            street: { type: string }
            city: { type: string }
            postalCode: { type: string }
            country: { type: string }
        hours: { type: string }
        hoursDe: { type: string }
        phone: { type: string }
        email: { type: string }
        manager: { type: string }
        managerDe: { type: string }
        notifications: { type: string, nullable: true }
        notificationsDe: { type: string, nullable: true }
        latitude: { type: number }
        longitude: { type: number }
        imageUrl: { type: string, nullable: true }
