@use '@angular/material' as mat;

@include mat.core();

$quantum-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      density: (scale: 0,
      ),
    ));

@include mat.all-component-themes($quantum-theme);