<div class="auth-container">
    <div class="auth-card">

        <img src="assets/logo.png" alt="QuantumCart Logo" class="logo" />

        <h2>Welcome Back</h2>
        <p class="subtitle">Sign in to continue</p>

        <form (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline" class="auth-field">
                <mat-label>Email</mat-label>
                <input matInput type="email" [(ngModel)]="email" name="email" required />
            </mat-form-field>

            <mat-form-field appearance="outline" class="auth-field">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="password" name="password" required />
            </mat-form-field>

            <button mat-raised-button color="primary" class="btn-primary">
                Sign In
            </button>

        </form>

        <div class="auth-footer">
            <p>Don't have an account?
                <a routerLink="/auth/register">Sign Up</a>
            </p>
        </div>

    </div>
</div>